<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069986063197-191rbr4elqjjrc96bhmfmhs23fl4v6bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069986063197-191rbr4elqjjrc96bhmfmhs23fl4v6bc</string>
	<key>API_KEY</key>
	<string>AIzaSyCfzw1vKRkpcLmmY9CZMePHRO8D4VsWFI0</string>
	<key>GCM_SENDER_ID</key>
	<string>1069986063197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>USC.Persona-Planner</string>
	<key>PROJECT_ID</key>
	<string>persona-planner</string>
	<key>STORAGE_BUCKET</key>
	<string>persona-planner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069986063197:ios:da99200729676689633eb4</string>
</dict>
</plist>